<<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">
    <title>Data Collection</title>
  </head>
  <body>

    <!-- Topic Sentiment Analyzer -->
    <div class="topic-analyzer">
      <h1 class="section-headers">Topic Sentiment Analyzer</h1>
      <img id="analyzer-image" src="static/speech_bubbles.png" alt="speech-bubbles" />
      <p class="centered-paragraph">
        Quisque sodales mi ac malesuada mollis. Donec consectetur elit lectus, a imperdiet augue maximus maximus. Donec dictum mauris id orci semper faucibus. Curabitur dapibus vel leo et placerat. Ut a ex lectus. Etiam vel turpis varius neque hendrerit luctus.
      </p>
      <form class="form-inline" action="javascript:void(0);" method="get">
        <label for="hashtag">Hashtag:</label>
        <input type="text" id="hashtag">
        <label for="start-date">Start date:</label>
        <input type="date" id="start-date">
        <label for="end-date">End date:</label>
        <input type="date" id="end-date">
      </form>
      <div style="text-align:center; padding:5px;">
        <p class="centered-paragraph">Estimated analysis duration:</p>
        <button class="centered-inline-button">Begin Data Collection & Analysis</button>
      </div>
    </div>

  </body>
</html>
