
/* Top Container */

.top-container {
  text-align: center;
  background-color: cyan;
  padding: 100px;
  border: solid;
}

.main-header {
  font-family: "Montserrat", serif;
  font-size: 1.5rem;
}

.main-list {
  font-family: "Merriweather", serif;
  list-style-type: none;
  padding-top: 20px;
  font-size: 1.25rem;
}

.section-headers {
  text-align: center;
  font-family: "Merriweather", serif;
}

.centered-inline-button {
  display: inline;
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
}

.centered-inline-button:hover {
  background-color: royalblue;
}

.centered-paragraph {
  text-align: center;
  line-height: 2;
  font-size: 1.25rem;
}

.left-list {
  text-align: left;
  line-height: 2;
  font-size: 1.25rem;
}

.left-paragraph {
  text-align: left;
  line-height: 2;
  font-size: 1.25rem;
}

/* Introduction */


#intro-image {
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Topic Sentiment Analyzer */

#analyzer-image {
  width: 35%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-left: 25%;
}

.form-inline label {
  margin: 5px 10px 5px 0px;
  font-size: 1.25rem;
}

.form-inline input, select {
  vertical-align: middle;
  margin: 5px 10px 5px 0px;
  padding: 10px 10px 10px 0px;
  background-color: #fff;
  border: 1px solid #ddd;
}


#analyzer-progress {
  display: none;
  width: 100%;
  background-color: grey;
}

#progress-bar-analyzer {
  width: 0%;
  height: 30px;
  background-color: #04AA6D;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white;
}

/* Single-Tweet Classifier */

#single-tweet-image {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

/* Classification Results Table */

#classification-results-div {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}


.results-header {
  background-color: #D6EEEE;
  width: 50%;
}

.results-table {
  display: inline-table;
  text-align: center;
  width: 30%;
  margin-left: 35%;
}

#classifier-results-info {
  display: inline;
  margin-left: 10%;
}

/* Data Viewer */

#viewer-image {
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.data-filter-div {
  text-align: center;
}

/* #data-list {

} */

/* Project Details */

#details-image {
  width: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

/* Footer */
.link-div {
  padding:40px 0;
  color: black;
}

.link-div ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:1.5rem;
  line-height:1.6;
  margin-bottom:0;
}

.link-div li {
  display: inline;
  padding: 0 10px;
}

.link-div ul a {
  color: inherit;
  /* text-decoration: none; */
  opacity:0.8;
}

.link-div ul a:hover {
  opacity:1;
}

.link-div .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}

/* Credit to https://epicbootstrap.com/snippets/footer-basic */
