
.main-header {
  font-family: "Montserrat", serif;
  font-size: 1.5rem;
}

.section-headers {
  text-align: center;
  font-family: "Merriweather", serif;
}

.centered-inline-button {
  display: inline;
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
}

.centered-inline-button:hover {
  background-color: royalblue;
}

.centered-paragraph {
  text-align: center;
  line-height: 2;
  font-size: 1.25rem;
}

.left-list {
  text-align: left;
  line-height: 2;
  font-size: 1.25rem;
}

.left-paragraph {
  text-align: left;
  line-height: 2;
  font-size: 1.25rem;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-left: 25%;
}

.form-inline label {
  margin: 5px 10px 5px 0px;
  font-size: 1.25rem;
}

.form-inline input, select {
  vertical-align: middle;
  margin: 5px 10px 5px 0px;
  padding: 10px 10px 10px 0px;
  background-color: #fff;
  border: 1px solid #ddd;
}

/* Credit to https://epicbootstrap.com/snippets/footer-basic */
.link-div {
  padding: 40px 0px 0px 0px;
  color: black;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.link-div ul {
  padding: 0;
  width: 45%;
  list-style: none;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 0;
}

.link-div li {
  display: inline;
  padding: 0 10px;
}

.link-div ul a {
  color: inherit;
  opacity:0.8;
}

.link-div ul a:hover {
  opacity:1;
}
/* Credit to https://epicbootstrap.com/snippets/footer-basic */

/* Top Container */

#top-container {
  text-align: center;
  background-image: url("twitter_background.jpg");
  background-repeat: no-repeat;
  background-color: #1abfdf;
  padding: 100px 0px 100px 0px;
  width: 100%;
  height: 100%;
}

/* Introduction */

#intro-image {
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Topic Sentiment Analyzer */

#analyzer-image {
  width: 35%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


#analyzer-progress {
  display: none;
  width: 100%;
  background-color: grey;
}

#progress-bar-analyzer {
  width: 0%;
  height: 30px;
  background-color: #04AA6D;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white;
}

/* Single-Tweet Classifier */

#single-tweet-image {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

/* Classification Results Table */

#classification-results-div {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

#results-table {
  display: inline-table;
  text-align: center;
  width: 30%;
  margin-left: 35%;
}

.results-header {
  background-color: #D6EEEE;
  width: 50%;
}

/* Data Viewer */

#viewer-image {
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

/* Project Details */

#details-image {
  width: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

/* Footer */

.copyright {
  text-align: center;
  font-size: 13px;
  color: #aaa;
}
