<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Twitter Sentiment Analyzer</title>
  <link rel="stylesheet" href="static/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">
  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!-- Plotly JS for displaying embedded plots -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>

  <!-- Top Container -->

  <div class="top-container">
    <h3 class="main-header">Twitter Sentiment Analyzer</h3>
    <h3 class="main-header">by Nicholas MacKinnon</h3>
    <ul class="main-list">
      <li class="main-list-item"><a href="#introduction">Introduction</a></li>
      <li class="main-list-item"><a href="#topic-sentiment-analyzer">Topic Sentiment Analyzer</a></li>
      <li class="main-list-item"><a href="#single-tweet-classifier">Single-Tweet Classifier</a></li>
      <li class="main-list-item"><a href="#data-viewer">Data Viewer</a></li>
      <li class="main-list-item"><a href="#project-details">Project Details</a></li>

      <!-- <li class="main-list-item"><button class="centered-inline-button" >Introduction</button></li>
      <li class="main-list-item"><button class="centered-inline-button" >Topic Sentiment Analyzer</button></li>
      <li class="main-list-item"><button class="centered-inline-button" >Single-Tweet Classifier</button></li>
      <li class="main-list-item"><button class="centered-inline-button" >Data Viewer</button></li>
      <li class="main-list-item"><button class="centered-inline-button" >Project Details</button></li> -->
    </ul>
  </div>

  <hr />

  <!-- Introduction -->

  <div id="introduction">
    <h1 class="section-headers">Introduction</h1>
    <img id="intro-image" src="static/twitter_search_logo.jpg" alt="twitter-search-logo">
    <p class="centered-paragraph">
      Vivamus fermentum dui vel odio vestibulum, vel accumsan enim aliquam. Sed dignissim turpis eu suscipit congue. Vestibulum elementum ac quam eu pellentesque. Aliquam suscipit magna nec congue malesuada. Sed odio lectus, lacinia non neque id,
      congue pulvinar dui. Phasellus tincidunt fringilla lectus, ac varius metus finibus non. Nunc ut iaculis tellus. Mauris eu mattis lacus. Vivamus tempor neque velit, in posuere arcu suscipit et. Ut nec scelerisque nisi. Etiam ut nibh ac sem
      malesuada fermentum dapibus vitae est. Nam pretium fringilla ex, sit amet ornare velit efficitur ut.
    </p>
  </div>

  <hr />

  <!-- Topic Sentiment Analyzer -->
  <div id="topic-sentiment-analyzer">
    <h1 class="section-headers">Topic Sentiment Analyzer</h1>
    <img id="analyzer-image" src="static/speech_bubbles.png" alt="speech-bubbles" />
    <p class="centered-paragraph">
      Quisque sodales mi ac malesuada mollis. Donec consectetur elit lectus, a imperdiet augue maximus maximus. Donec dictum mauris id orci semper faucibus. Curabitur dapibus vel leo et placerat. Ut a ex lectus. Etiam vel turpis varius neque
      hendrerit luctus.
    </p>
    <form class="form-inline" method="post">
      <label for="hashtag">Hashtag:</label>
      <input type="text" id="hashtag" name="hashtag">
      <label for="start-date">Start date:</label>
      <input type="date" id="start-date" min='2008-01-01' onchange="estimateDuration()" name="start-date">
      <label for="end-date">End date:</label>
      <input type="date" id="end-date" min='2008-01-01' onchange="estimateDuration()" name="end-date">
    </form>
    <form onsubmit="return false">
      <div style="text-align:center; padding:5px;">
        <p class="centered-paragraph" id="duration-text">Estimated duration:</p>
        <button class="centered-inline-button" onclick="return beginDataCollection()">Begin Data Collection & Analysis</button>
      </div>
      <p class="centered-paragraph" id="progress-text" style="display:none;">Loading Progress...</p>
      <div id="analyzer-progress">
        <div id="progress-bar-analyzer"></div>
      </div>
    </form>
    <!-- <p>
      <button class="centered-inline-button" onclick="return viewData()">View Data</button>
    </p> -->
  </div>

  <!-- Single-Tweet Classifier -->

  <hr />

  <div id="single-tweet-classifier">
    <h1 class="section-headers">Single-Tweet Classifier</h1>
    <img id="single-tweet-image" src="static/tweet_tweet.jpg" alt="tweet-tweet" />
    <p class="centered-paragraph">
      Quisque sodales mi ac malesuada mollis. Donec consectetur elit lectus, a imperdiet augue maximus maximus. Donec dictum mauris id orci semper faucibus. Curabitur dapibus vel leo et placerat. Ut a ex lectus. Etiam vel turpis varius neque
      hendrerit luctus.
    </p>
    <form class="form-inline">
      <input type="text" id="tweet-textinput" style="width:75%;margin-right:auto;">
      <button class="centered-inline-button" onclick="classifyTweet()">Classify</button>
    </form>

    <!-- Classification Results Table -->
    <h2 style="text-align: center;">Classification Results</h2>
    <div class="classification-results-div">
      <table class="results-table">
        <tr>
          <th class="results-header">Classifier</th>
          <th class="results-header">Sentiment Prediction</th>
        </tr>
        <tr>
          <td>Classifier 1</td>
          <td>Prediction 1</td>
        </tr>
        <tr>
          <td>Classifier 2</td>
          <td>Prediction 2</td>
        </tr>
        <tr>
          <td>Classifier 3</td>
          <td>Prediction 3</td>
        </tr>
        <tr>
          <td>Classifier 4</td>
          <td>Prediction 4</td>
        </tr>
        <tr>
          <td>Classifier 5</td>
          <td>Prediction 5</td>
        </tr>
        <tr>
          <td>Classifier 6</td>
          <td>Prediction 6</td>
        </tr>
        <tr>
          <td>Classifier 7</td>
          <td>Prediction 7</td>
        </tr>
      </table>
      <p id="classifier-results-info">
        CLASSIFIER INFO HERE
      </p>
    </div>
  </div>

  <hr />

  <!-- Data Viewer -->
  <div id="data-viewer">
    <h1 class="section-headers">Data Viewer</h1>
    <img id="viewer-image" src="static/metrics.jpg" alt="metrics" />
    <p class="centered-paragraph">
      Quisque sodales mi ac malesuada mollis. Donec consectetur elit lectus, a imperdiet augue maximus maximus. Donec dictum mauris id orci semper faucibus. Curabitur dapibus vel leo et placerat. Ut a ex lectus. Etiam vel turpis varius neque
      hendrerit luctus.
    </p>
    <form class="form-inline">
      <input type="radio" id="view-all-data" name="data-to-show" value="all" checked="checked" onclick="selectDataFilter()">
      <label for="all">View All Data</label><br>
      <input type="radio" id="view-month-data" name="data-to-show" value="month" onclick="selectDataFilter()">
      <label for="month">View Month Data</label><br>
      <input type="radio" id="view-year-data" name="data-to-show" value="year" onclick="selectDataFilter()">
      <label for="year">View Year Data</label>
    </form>
    <form class="form-inline">
      <label for="data-hashtag">Hashtag:</label>
      <input type="text" id="data-hashtag" name="data-hashtag">
      <div class="data-input-div" id="data-month-div" style="display:none">
        <label for="data-month-input">Month:</label>
        <input type="month" id="data-month-input" min="2008-01" />
      </div>
      <div class="data-input-div" id="data-year-div" style="display:none">
        <label for="data-year">Year:</label>
        <input type="number" id="data-year-input" name="data-year" min="2008" step="1" value="2022" />
      </div>
      <button class="centered-inline-button" onclick="return setDataFilter()">Set Filter</button>
    </form>
    <form onsubmit="return false">
      <div style="text-align:center; padding:5px;">
        <button id="view-data-button" class="centered-inline-button" onclick="window.open('/plot','_blank')">View Data</button>
      </div>
    </form>
  </div>

  <hr />

  <!-- Project Details -->

  <h1 class="section-headers" id="project-details">Project Details</h1>
  <img id="details-image" src="static/info.jpg" alt="info-icon" />
  <p class="centered-paragraph">
    Quisque sodales mi ac malesuada mollis. Donec consectetur elit lectus, a imperdiet augue maximus maximus. Donec dictum mauris id orci semper faucibus. Curabitur dapibus vel leo et placerat. Ut a ex lectus. Etiam vel turpis varius neque hendrerit
    luctus.
  </p>
</body>
<script type="text/javascript" src="static/index.js"></script>

</html>
